@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

// Uso de Placeholder %btn-base para aplicar @extend
%btn-base {
  padding: 10px 26px;
  border-radius: 9999px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  @include smooth-transition(all, 0.3s);

  @include respond-to(mobile) {
    width: 100%;
    display: block;
    margin-bottom: 8px;
  }
}

.btn-custom {
  @extend %btn-base;
  background-color: $color-primary;
  color: #ffffff;
  border: 1px solid $color-primary;

  &:hover {
    background-color: $color-primary-hover;
    color: #ffffff;
    border-color: $color-primary-hover;
    transform: translateY(-2px);
  }
}

.btn-outline-custom {
  @extend %btn-base;
  background-color: $color-card-bg;
  color: $color-primary;
  border: 1px solid $color-border-input;

  &:hover {
    background-color: $color-primary;
    color: #ffffff;
    border-color: $color-primary;
    transform: translateY(-2px);
  }
}
