@use "../utilities/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
  color: #1e293b;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: $font-main;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}
